INCLUDE("app_common.cfg");

#include "app.h"

DOMAIN(TDOM_APP) {
CRE_TSK(MAIN_TASK, { TA_ACT , 0, main_task, TMIN_APP_TPRI + 1, STACK_SIZE, NULL });
CRE_TSK(BT_TASK  , { TA_NULL, 0, bt_task  , TMIN_APP_TPRI + 2, STACK_SIZE, NULL });
}

ATT_MOD("app.o");
ATT_MOD("balancer.o");
ATT_MOD("balancer_param.o");

ATT_MOD("DeviceValueGet.o");
ATT_MOD("MotorDrive.o");

ATT_MOD("SectionRunningData.o");
ATT_MOD("PIDCalculation.o");
ATT_MOD("SectionRunningDataGet.o");
ATT_MOD("RunningCalculation.o");
ATT_MOD("RunningController.o");

ATT_MOD("SectionDecisionData.o");
ATT_MOD("SectionDecisionDataGet.o");
ATT_MOD("SectionDecision.o");
ATT_MOD("SectionDecisionController.o");

ATT_MOD("CompetitionRunning.o");